{{ define "main" }}
<div class="articles h-feed">
    <h1 class="post-title">{{ i18n .Title | markdownify }}</h1>
    {{ $pages := where .Pages "Params.hidden" "!=" true }}

    {{ range $pages }}
    <div class="post-short-list h-entry">
        <div class="post-header">
            <header>
                <h2 class="p-name post-title"><a class="u-url" href="{{ .RelPermalink }}">{{ trim .Title " " |
                    markdownify }}</a></h2>
            </header>
        </div>
        {{ partial "post-info.html" . }}
    </div>
    {{ end }}
</div>

{{ end }}
